nav {
  background: #4A90E2;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
}

nav img {
  height: 24px;
  
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
